#events-link {
    text-align: center;
    margin-top: 20px;
}

#events-link a {
    display: inline-block;
    text-decoration: none;
    color: #007bff; /* Link-Farbe anpassen */
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #007bff; /* Rahmenfarbe anpassen */
    border-radius: 5px; /* Eckenradius anpassen */
    transition: all 0.3s ease;
}

#events-link a:hover {
    background-color: #007bff; /* Hintergrundfarbe bei Hover anpassen */
    color: white; /* Textfarbe bei Hover anpassen */
}

#events-link svg {
    margin-right: 10px;
}
